/* Responsive CSS */

@media (max-width: 1700px) {
    .partner_logos li img {
      width: 100px;
      object-fit: contain;
    }
  }
  
  @media (max-width: 1499px) {
    .partner_logos li img {
      width: 85px;
    }
    .presto-container,
    .header-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    .placestogo_desc {
      left: 1000px;  
    }
  }
  
  @media (max-width: 1199px) {
    .menu-items {
      display: none;
    }
    nav .logo-wrap {
      position: relative;
    }
    .partner_logos {
      gap: 0;
    }
    .partner_logos li {
      width: 20%;
      display: flex;
      justify-content: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    .features_content {
      flex-direction: column;
      gap: 30px;
    }
    .features_desc {
      max-width: 100%;
    }
    .footer_middle_links .item a {
      font-size: 12px;
      font-weight: 600;
    }
    .footer-container{
      flex-direction: column;
    }
    .email-form {
      width: 365px;
    }
    .subscribe {
      left: 215px;
    }
    .img-tiles-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto); 
    }
    .placestogo-section{
      height: auto;
    }
    .img_slider-container, .placestogo_desc{
      position: unset;
      width: unset;
    }
  }
  
  @media (max-width: 992px) {
    header nav {
      min-height: 130px;
    }
    .hero_heading {
      font-size: 45px;
    }
    .trending_stays_asset,
    .featured_properties {
      flex-direction: column;
    }
    .featured_property_image {
      height: 560px;
    }
    .featured_property_image img {
      height: inherit;
    }
  }
  
  @media (max-width: 768px) {
    .nav-links {
      padding-top: 65px;
    }
    .pc-container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .presto-container,
    .header-container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .header_wrapper {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    nav .logo-wrap {
      left: unset;
      transform: unset;
    }
    .partner_logos li {
      width: 33%;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
    .partner_logos {
      justify-content: unset;
    }
    .features_images {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      gap: 0;
      touch-action: pan-x pinch-zoom;
      -webkit-overflow-scrolling: touch;
    }
    .features_image {
      flex: 0 0 100%;
      min-width: 100%;
      scroll-snap-align: center;
      transform: translateX(0);
      transition: transform 0.3s ease;
    }
    .car_dots {
      display: flex;
    }
    .accordion {
      flex-direction: column;
    }
    .footer_bottom {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
    .footer_bottom .footer_info {
      align-items: center;
    }
    .img-tiles-container {
      display: flex;
      flex-direction: column;
    }
    .top_destinations-container {
      flex-direction: column;
    }
    .top_destinations_section {
      height: auto;
    }
    .placestogo-section {
      height: 2000px;
    }
    .placestogo-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .img_slider-container {
      display: flex;
      flex-direction: column;
      height: 1500px;
      position: unset;
    }
    .placestogo_desc {
      position: unset;
      margin-bottom: 20px;
    }
    .blog-container {
      display: flex;
      flex-direction: column;
    }
    .top_destinations_slider-container .img-name-btn {
      top: 674px;
      width: 226px;
      height: 48px;
    }
  }
  
  @media (max-width: 575px) {
    header nav {
      min-height: 110px;
    }
    .logo-wrap img {
      width: 50px;
      height: auto;
    }
    .site_name {
      font-size: 30px;
      line-height: 26px;
      width: min-content;
    }
    .pc-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .presto-container,
    .header-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .accordion_section,
    .quote_section,
    .features_section {
      padding: 60px 0;
    }
  
    .trending_stays_section,
    .featured_stays_section,
    .tab_tiles_section {
      padding-top: 60px;
    }
  
    .about_section {
      padding-bottom: 60px;
    }
  
    .hero_heading,
    .accordion_heading,
    .trending_stays_heading,
    .featured_stays_heading,
    .tab_heading,
    .features_heading,
    .about_heading {
      font-size: 34px;
      line-height: 40px;
    }
    .tab_heading {
      padding-top: 0;
    }
  
    .features_content {
      gap: 20px;
    }
    .quote_desc {
      font-size: 26px;
      line-height: 42px;
    }
    .footer_top_links {
      justify-content: center;
    }
    .footer_middle_links {
      flex-direction: column;
      gap: 20px;
    }
    .footer_middle_links .item {
      align-items: center;
    }
    .powered_by img {
      width: 160px;
    }
    .top_destinations-container {
      display: block;
    }
    .placestogo_desc {
      left: 120px;
    }
   .img_slider-container{
    left: 80px;
   }
   .top_destinations_slider {
    width: 100%;
   }
   .faq-container{
    display: block;
   }
   .faq-image,
   .faq-que{
    max-width: 100%;
    border-radius: 12px;
    margin-top: 20px;
   }
  }
  
  @media (max-width: 480px) {
    section {
      padding-top: 50px;
      padding-right: 0rem;
      padding-bottom: 50px;
      padding-left: 0rem;
    }
    nav .logo-wrap {
      gap: 10px;
    }
    .features_list {
      margin-bottom: 20px;
    }
    .footer {
      padding: 60px 0;
    }
    .footer_bottom .powered_by {
      gap: 15px;
    }
    .footer_top_links {
      flex-direction: column;
      align-items: center;
    }
    .footer_bottom_links {
      gap: 10px;
    }
    .footer-dd {
      display: block;
      padding: 28px 0 34px;
    }
    .footer-currency-dd{
      margin-bottom: 15px;
    }
    .placestogo_desc {
      left: 50px;
    }
    .img_slider-container{
      left: 11.5px;
    }
    .email-form {
      display: grid;
      width: 100%;
      position: unset;
    }
    .email-input{
      width: 100%;
    }
    .subscribe {
      position: relative;
      left: 0;
    }
  }
  